{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Hive CPQ Product Configurator",
    "description": "Hive CPQ is a comprehensive Configure Price Quote (CPQ) solution that empowers sales teams to generate accurate quotes for complex products. Streamline your sales process by seamlessly integrating Hive CPQ to automate workflows, sync data, and optimize your operations using our connector. Maximize efficiency and deliver exceptional sales experiences with Hive CPQ's powerful connector.",
    "contact": {
      "name": "Hive CPQ Support",
      "url": "https://www.hivecpq.com",
      "email": "support@hivecpq.com"
    }
  },
  "servers": [
    {
      "url": "https://connect.hivecpq.com/api/v1"
    }
  ],
  "paths": {
    "/manufacturers": {
      "get": {
        "summary": "Get manufacturers",
        "description": "Get all manufacturers to which you are connected.",
        "operationId": "get-manufacturers-list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/getManufacturers"
          }
        },
        "tags": [
          "Manufacturer"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        }
      ],
      "get": {
        "summary": "Search companies",
        "description": "Search companies linked to a manufacturer.",
        "operationId": "get-manufacturer-companies",
        "parameters": [
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Filter on the name of the companies.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeArchived",
            "description": "Filter on the archival status of the companies.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getCompanies"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add a new company",
        "description": "Add a new company to a manufacturer.",
        "operationId": "post-manufacturers-company",
        "requestBody": {
          "$ref": "#/components/requestBodies/postCompany"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/companyIdInPath"
        }
      ],
      "get": {
        "summary": "Get a company",
        "description": "Get a specific company linked to a manufacturer.",
        "operationId": "get-manufacturers-manufacturerId-companies-companyId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/getCompany"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "put": {
        "summary": "Update a company",
        "description": "Update a specific company of a manufacturer.",
        "operationId": "put-manufacturers-manufacturerId-companies-companyId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPutCompany"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "delete": {
        "summary": "Delete a company",
        "description": "Delete a specific company of a manufacturer.",
        "operationId": "delete-manufacturers-manufacturerId-companies-companyId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/companyIdInPath"
        }
      ],
      "post": {
        "summary": "Archive a company",
        "description": "Archive a company together with all of its contacts.",
        "operationId": "post-manufacturers-manufacturerId-companies-companyId-archive",
        "responses": {
          "204": {
            "description": "NO CONTENT"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/unarchive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/companyIdInPath"
        }
      ],
      "post": {
        "summary": "Unarchive a company",
        "description": "Unarchive a company without unarchiving its contacts.",
        "operationId": "post-manufacturers-manufacturerId-companies-companyId-unarchive",
        "responses": {
          "204": {
            "description": "NO CONTENT"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/defaultAddresses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/companyIdInPath"
        }
      ],
      "get": {
        "summary": "Search default addresses of a company",
        "description": "Search the default invoice and delivery addresses of a company.",
        "operationId": "get-manufacturers-manufacturerId-companies-companyId-defaultAddresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyDefaultAddressesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add default address to a company",
        "description": "Get default addresses of a company",
        "operationId": "post-manufacturers-manufacturerId-companies-companyId-defaultAddresses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDefaultAddress"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/defaultAddresses/{defaultAddressId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/companyIdInPath"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "defaultAddressId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a default address of a company",
        "description": "Get a specific default address of a company.",
        "operationId": "get-manufacturers-manufacturerId-companies-companyId-defaultAddresses-defaultAddressId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultAddress"
                }
              }
            }
          }
        },
        "tags": [
          "Company"
        ]
      },
      "put": {
        "summary": "Update a default address of a company",
        "description": "Update a specific default address of a company.",
        "operationId": "put-manufacturers-manufacturerId-companies-companyId-defaultAddresses-defaultAddressId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutDefaultAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "delete": {
        "summary": "Delete a default address of a company",
        "description": "Delete a specific default address of a company",
        "operationId": "delete-manufacturers-manufacturerId-companies-companyId-defaultAddresses-defaultAddressId",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        }
      ],
      "get": {
        "summary": "Search manufacturer contacts",
        "description": "Search all manufacturer contacts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "companyId",
            "description": "Search contacts that a linked to a company"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "operationId": "get-manufacturer-contacts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManufacturerContactsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbiddenows to retrieve the contacts of a manufacturer."
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "post": {
        "summary": "Add manufacturer contact",
        "description": "Add a new contact for the manufacturer",
        "operationId": "add-manufacturer-contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostManufacturerContact"
              }
            }
          },
          "description": "Add a new manufacturer contact"
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts/{contactId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/contactIdInPath"
        }
      ],
      "get": {
        "summary": "Get a manufacturer contact",
        "description": "Retrieve one single manufacturer contact based on the hive contact id.",
        "operationId": "get-manufacturer-contact",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturerContact"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "put": {
        "summary": "Update a Manufacturer Contact",
        "description": "Update a manufacturer contact",
        "operationId": "put-manufacturers-manufacturerId-contacts-contactId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutManufacturerContact"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "delete": {
        "summary": "Delete contact",
        "description": "Delete a specific contact",
        "operationId": "delete-distributor-contact",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts/{contactId}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/contactIdInPath"
        }
      ],
      "post": {
        "summary": "Archive a contact",
        "description": "Archive a contact. This will also remove the invite.",
        "operationId": "post-manufacturers-manufacturerId-contacts-contactId-archive",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts/{contactId}/unarchive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/contactIdInPath"
        }
      ],
      "post": {
        "summary": "Unarchive a contact",
        "description": "Unarchive a specific contact.",
        "operationId": "UnarchiveAContact",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "distributorId",
          "in": "path",
          "required": true,
          "description": "The id of the distributor"
        }
      ],
      "get": {
        "summary": "Search the accounts in the address book of a distributor",
        "description": "This endpoint searches in the acocunts list of a distributor. These accounts can be used in the Sell To address field on project level. ",
        "operationId": "get-manufacturer-distributor-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDistributorCompaniesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add an account into the address book of a distributor",
        "description": "Create a new account in the address list of a distributor. This can be used in the Sell To field on project level.",
        "operationId": "post-manufacturer-distributor-accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDistributorCompany"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/accounts/{accountId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "accountId",
          "in": "path",
          "required": true,
          "description": "The account id"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "distributorId",
          "in": "path",
          "required": true,
          "description": "The id of the distributor"
        }
      ],
      "put": {
        "summary": "Edit an account from the address book of a distributor",
        "operationId": "put-manufacturers-distributor-account",
        "description": "Update an account in the address book of the distributor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutDistributorCompany"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "delete": {
        "summary": "Removes an account from the address book of a distributor",
        "description": "Removes an account from the account list of a distributor.\n\nSome validation rules apply:\n\n- This account may not be used in any project\n- All contacts linked to this account must be removed before removing this account",
        "operationId": "delete-manufacturers-distributor-account",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/contacts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "distributorId",
          "in": "path",
          "required": true,
          "description": "The hive id of the distributor"
        }
      ],
      "get": {
        "summary": "Search contacts from the address book of a distributor",
        "description": "Search for contacts in the address book of the distributor",
        "operationId": "get-manufacturer-distributor-contacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "in": "query",
            "name": "accountId",
            "description": "The ID of the account in the address book of the distributor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDistributorContactsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "post": {
        "summary": "Add a contacts to the address book of a distributor",
        "description": "Add a new contact into the address book of a distributor",
        "operationId": "post-manufacturer-distributor-contacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostContactDistributor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/contacts/{contactId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "contactId",
          "in": "path",
          "required": true,
          "description": "The hive id of the contact in the address book of the distributor"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "distributorId",
          "in": "path",
          "required": true,
          "description": "The hive id of the distributor"
        }
      ],
      "put": {
        "summary": "Update an existing contact in the address book of the distributor",
        "description": "Update and existing contact in the address book of the distributor. It is not possible to change the companyId of a contact using this operation.",
        "operationId": "put-manufacturers-distributor-contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutDistributorContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "delete": {
        "summary": "Remove a contact from address book of a distributor",
        "description": "Removes a contact from the address book of a distributor. This contact may not be used in any way e.g linked to a project.",
        "operationId": "delete-manufacturers-distributor-contact",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        }
      ],
      "get": {
        "summary": "Get invites for a manufacturer",
        "description": "Get the invites for a given manufacturer",
        "operationId": "get-manufacturer-invites",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "contactId",
            "description": "Find by Hive contact Id"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "integratedContactSystemId",
            "description": "Find by the integrated system id of the contact"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "CANCELLED",
                "CLAIMED"
              ]
            },
            "in": "query",
            "name": "status",
            "description": "Find by status: "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvitesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Invite"
        ]
      },
      "post": {
        "summary": "Create invite for a manufacturer",
        "operationId": "create-manufacturer-invite",
        "description": "Creates a new invite for a manufacturer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Invite"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/invites/{inviteId}/sendInviteEmail": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "inviteId",
          "in": "path",
          "required": true,
          "description": "The id of the invite for which an email must be sent"
        }
      ],
      "post": {
        "summary": "Send invitation email using HiveCPQ's email system",
        "description": "Send an email with the invite details using the HiveCPQ email system",
        "operationId": "send-invite-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "required": [
                  "invitationText",
                  "toEmail"
                ],
                "properties": {
                  "invitationText": {
                    "type": "string",
                    "minLength": 1
                  },
                  "toEmail": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict: Possible due to invite already claimed."
          }
        },
        "tags": [
          "Invite"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        }
      ],
      "get": {
        "summary": "Retrieve a list of versions for a manufacturer",
        "description": "Retrieves a list of all versions of a manufacturer",
        "operationId": "get-manufacturers-manufacturerId-containers-containername-versions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVersionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HiveError"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HiveError"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HiveError"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HiveError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/ContainerVersionStatusEnum"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/ContainerVersionTypeEnum"
            }
          },
          {
            "$ref": "#/components/parameters/idsIn"
          }
        ],
        "tags": [
          "Versioning"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Find the components of a manufacturer",
        "description": "Return a list of components for a manufacturer",
        "operationId": "get-manufacturer-components",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "in": "query",
            "name": "featureIds",
            "description": "Filter components on their linked features",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "priceCatalogId",
            "description": "Id of the price catalog used to only return components that have a price in this catalog"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "articleCode",
            "description": "Search the components based on the article code"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "eanCode"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "gtinCode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComponentsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a component",
        "description": "Add a component",
        "operationId": "post-manufacturers-add-component",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostComponent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get a component based on the id",
        "description": "Retrieves the component based on the id",
        "operationId": "get-manufacturer-component",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "put": {
        "summary": "Update the component of a manufacturer",
        "description": "Updates the component general details",
        "operationId": "put-manufacturers-component",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutComponent"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Delete a component",
        "description": "Delete a component of a manufacturer.",
        "operationId": "delete-manufacturer-component",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/bulkDelete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Bulk delete components",
        "description": "Controller that provides flexible bulk delete methods for components.",
        "operationId": "post-manufacturers-manufacturerId-components-bulkDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostComponentsBulkDelete"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Bulk upsert components",
        "description": "Perform a bulk upsert of 50 components.",
        "operationId": "post-manufacturers-manufacturerId-components-bulkUpsert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostComponentsBulkUpsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/attachments/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Bulk upsert component attachments",
        "description": "Perform a bulk upsert of 25 component attachments.",
        "operationId": "post-manufacturers-manufacturerId-components-attachments-bulkUpsert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostComponentAttachmentsBulkUpsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/setPrices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert component prices in bulk",
        "description": "Create or update 50 component prices in master data.",
        "operationId": "PostBulkUpsertComponentPrices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostBulkUpsertComponentPrices"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/tooltip": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get the tooltip of a component",
        "description": "Get the tooltip of a component.",
        "operationId": "get-manufacturers-component-tooltip",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "titles": {
                      "$ref": "#/components/schemas/Translations"
                    },
                    "details": {
                      "$ref": "#/components/schemas/Translations"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      },
      "put": {
        "summary": "Update the tooltip of a component",
        "description": "Update the tooltip of a component",
        "operationId": "put-manufacturers-component-tooltip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutComponentTooltip"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Delete a tooltip of a component",
        "operationId": "delete-manufacturers-component-tooltip",
        "description": "Delete a tooltip of a component.",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/tooltip/image": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get tooltip image of a component",
        "description": "Get tooltip image of a component",
        "operationId": "get-manufacturer-component-tooltip-image",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      },
      "put": {
        "summary": "Set tooltip image of a component",
        "description": "Set the image of the tooltip",
        "operationId": "put-manufacturer-component-tooltip-image",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Remove the image of a tooltip",
        "description": "Removes the image from the component tooltip",
        "operationId": "delete-manufacturers-component-image",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/prices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get the prices of a component",
        "description": "Retrieve the prices of a component",
        "operationId": "get-manufacturer-component-prices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComponentPricesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a new price to this component",
        "description": "Sets a new price for the component",
        "operationId": "add-manufacturer-component-price",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostComponentPrice"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/prices/{componentPriceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "componentPriceId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "Removes a price from a component",
        "description": "Removes a price from a compoent",
        "operationId": "remove-manufacturer-component-price",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get attachments of a component",
        "description": "Get attachments of a specific component. Attachments are returned in the sorted order as they are shown inside HiveCPQ.",
        "operationId": "get-manufacturer-componnent-attachments",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isImage",
            "description": "Optional parameter to only return the images"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComponentAttachmentsResponnse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a new attachment to a component",
        "operationId": "add-manufacturer-componnent-attachments",
        "description": "Create an attachment for a component",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "isImage": {
                    "type": "boolean"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/attachments/{attachmentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "Id of the attachment"
        }
      ],
      "delete": {
        "summary": "Delete an attachment from a component",
        "description": "Delete an attachment from a component",
        "operationId": "delete-manufacturers-manufacturerId-containers-name-versions-version-components-componentId-attachments-attachmentId",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/properties": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get component property values",
        "description": "Get the properties of a component with its value",
        "operationId": "get-manufacturers-component-properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetComponentPropertyValues"
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Set or update the property value for a component",
        "description": "Set property value for a component",
        "operationId": "set-property-value-for-coomponent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPropertyComponentValue"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/properties/setValues": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "post": {
        "summary": "Set or update multiple property values for a component",
        "operationId": "set-property-values-for-component",
        "description": "Set values for one or more properties of a component. Existing property values not part of request will be removed.",
        "requestBody": {
          "$ref": "#/components/requestBodies/postSetPropertyValues"
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/setFeatures": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "post": {
        "summary": "Link features to a component",
        "operationId": "set-features-for-component",
        "description": "Links one or more features to a component. Features already linked to the component which are not part of the request will be unlinked.",
        "requestBody": {
          "$ref": "#/components/requestBodies/postSetFeatureLinks"
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/features/{featureId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        },
        {
          "$ref": "#/components/parameters/featureIdInPath"
        }
      ],
      "put": {
        "summary": "Link one feature to a component",
        "operationId": "link-feature-to-component",
        "description": "Links one feature to a component.",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Unlink one feature to a component",
        "operationId": "unlink-feature-to-component",
        "description": "Unlinks one feature from a component.",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/quantities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "get": {
        "summary": "Get the quantities of a component",
        "operationId": "get-quantities-of-a-component",
        "description": "Gets the quantities of a component.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetComponentQuantities"
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/setQuantities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "post": {
        "summary": "Set the quantities of a component",
        "operationId": "set-quantities-of-a-component",
        "description": "Sets the quantities of a component.",
        "requestBody": {
          "$ref": "#/components/requestBodies/postSetQuantities"
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/copyToVersion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/componentIdInPath"
        }
      ],
      "post": {
        "summary": "Copy a component to another version",
        "description": "Copy a component to another version.",
        "operationId": "CopyComponentToAnotherVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPostCopyToVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseObjectCopiedToVersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Get the properties of a manufacturer",
        "description": "The resource exposes the list of properties of a manufacturer",
        "operationId": "get-manufacturer-properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPropertiesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Property"
        ]
      },
      "post": {
        "summary": "Add a new property",
        "description": "Add a new property to the properties collection",
        "operationId": "add-manufacturer-property",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProperty"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert properties in bulk",
        "description": "Create or update 50 properties in master data.",
        "operationId": "post-manufacturers-manufacturerId-properties-bulkUpsert",
        "requestBody": {
          "$ref": "#/components/requestBodies/postBulkUpsertProperties"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties/{propertyId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/propertyIdInPath"
        }
      ],
      "delete": {
        "summary": "Remove a property",
        "description": "Removes a property from the property list of a manufacturer",
        "operationId": "delete-manufacturers-property",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Property"
        ]
      },
      "put": {
        "summary": "Update a property",
        "description": "Update a property of a manufacturer",
        "operationId": "put-manufacturers-property",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutProperty"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties/{propertyId}/copyToVersion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/propertyIdInPath"
        }
      ],
      "post": {
        "summary": "Copy a property to another version",
        "description": "Copy a property to another version.",
        "operationId": "CopyPropertyToAnotherVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPostCopyToVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseObjectCopiedToVersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/categories": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Search categories",
        "description": "Search categories in master data.",
        "operationId": "get-manufacturer-categories",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "Filter categories by their codes.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "A category code."
              }
            }
          },
          {
            "in": "query",
            "name": "mainCategoryCode",
            "description": "Filter sub-categories by their main parent category.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "A main category code."
              }
            }
          },
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManufacturerCategoriesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Category"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/categories/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert categories in bulk",
        "description": "Create or update 50 categories in master data.",
        "operationId": "post-bulk-upsert-categories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostBulkUpsertCategories"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Category"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Search feature groups of a manufacturer",
        "description": "Search the feature groups of a manufacturer",
        "operationId": "get-manufacturer-feature-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManufacturerFeatureGroupsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "post": {
        "summary": "Add new feature group",
        "description": "Add a new feature group",
        "operationId": "post-manufacturer-featureGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostFeatureGroup"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          },
          "409": {
            "description": "The code already exists"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/reOrder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Reorder the feature groups",
        "description": "Re order the feature groups by passing the feature group ids in the desired sequence. All ids must be passed.",
        "operationId": "post-manufacturers-manufacturerId-containers-name-versions-version-featureGroups-reOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReOrderFeatureGroup"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "409": {
            "description": "All feature group ids must be passed"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/featureGroupIdInPath"
        }
      ],
      "get": {
        "summary": "Get single feature group",
        "description": "Get single feature group",
        "operationId": "get-manufacturer-featureGroup",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFeatureGroup"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "put": {
        "summary": "Update a feature group",
        "description": "Update the feature group of a manufacturer",
        "operationId": "put-manufacturer-featureGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutFeatureGroup"
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "delete": {
        "summary": "Delete a feature group",
        "operationId": "delete-manufacturer-featureGroup",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Delete a feature group",
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/copyToVersion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/featureGroupIdInPath"
        }
      ],
      "post": {
        "summary": "Copy a feature group to another version",
        "description": "Copy a feature group to another version. Underlying features are not copied.",
        "operationId": "CopyFeatureGroupToAnotherVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPostCopyToVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseObjectCopiedToVersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "featureGroupId",
          "in": "path",
          "required": true,
          "description": "The hive id of the feature group"
        }
      ],
      "get": {
        "summary": "Search the features of a manufacturer",
        "tags": [
          "Feature"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManufacturerFeaturesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-manufacturer-features",
        "description": "Search the features of a manufacturer",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ]
      },
      "post": {
        "summary": "Add new feature to the feature group",
        "operationId": "post-manufacturer-feature",
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Add a new feature within the feature group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostFeature"
              }
            }
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/reOrder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "featureGroupId",
          "in": "path",
          "required": true,
          "description": "The hive id of the feature group"
        }
      ],
      "post": {
        "summary": "Reorder the features within a feature group",
        "operationId": "post-manufacturers-features-reOrder",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "409": {
            "description": "All feature ids within the group must be given"
          }
        },
        "description": "Re order the features within the feature group. Pass all the feature ids in the prefereed order. ",
        "tags": [
          "Feature"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReorderFeature"
              }
            }
          }
        }
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/{featureId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/featureGroupIdInPath"
        },
        {
          "$ref": "#/components/parameters/featureIdInPath"
        }
      ],
      "get": {
        "summary": "Retrieve single feature of a feature group",
        "tags": [
          "Feature"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFeature"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetFeature"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-manufacturer-single-feature",
        "description": "Retrieve a single feature of a feature group"
      },
      "put": {
        "summary": "Update a single feature",
        "operationId": "put-manufacturers-manufacturerId-containers-name-versions-version-featureGroups-featureGroupId-features-featureId",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Feature"
        ],
        "description": "Update a single feature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutFeature"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove a feature",
        "operationId": "delete-manufacturer-feature",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Feature"
        ],
        "description": "Remove a feature within the feature group"
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert feature groups in bulk",
        "description": "Create or update 50 feature groups in master data.",
        "operationId": "post-bulk-upsert-feature-groups",
        "requestBody": {
          "$ref": "#/components/requestBodies/postBulkUpsertFeatureGroups"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/{featureId}/changeFeatureGroup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/featureGroupIdInPath"
        },
        {
          "$ref": "#/components/parameters/featureIdInPath"
        }
      ],
      "post": {
        "summary": "Change the feature group of a feature",
        "operationId": "post-manufacturers-changeFeatureGroup",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Feature"
        ],
        "description": "Change the feature group of a feature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostChangeFeatureGroup"
              }
            }
          }
        }
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/{featureId}/copyToVersion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/featureGroupIdInPath"
        },
        {
          "$ref": "#/components/parameters/featureIdInPath"
        }
      ],
      "post": {
        "summary": "Copy a feature to another version",
        "description": "Copy a feature to another version.",
        "operationId": "CopyFeatureToAnotherVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPostCopyToVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseObjectCopiedToVersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/features/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert features in bulk",
        "description": "Create or update 50 features in master data.",
        "operationId": "post-bulk-upsert-features",
        "requestBody": {
          "$ref": "#/components/requestBodies/postBulkUpsertFeatures"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Get the units of a manufacturer",
        "description": "Get the units of a manufacturer",
        "operationId": "get-manufacturer-units",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "Search the collection based on the code of the unit",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/integratedSystemName"
          },
          {
            "$ref": "#/components/parameters/integratedSystemIdsIn"
          },
          {
            "$ref": "#/components/parameters/idsIn"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnitsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "post": {
        "summary": "Add a new unit",
        "description": "Add a new unit",
        "operationId": "post-manufacturers-manufacturerId-containers-name-versions-version-units",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUnit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "post": {
        "summary": "Upsert units in bulk",
        "description": "Create or update 50 units in master data.",
        "operationId": "post-manufacturers-manufacturerId-units-bulkUpsert",
        "requestBody": {
          "$ref": "#/components/requestBodies/postBulkUpsertUnits"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units/{unitId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/unitIdInPath"
        }
      ],
      "get": {
        "summary": "Get a unit",
        "description": "Get a single unit from a manufacturer",
        "operationId": "get-manufacturers-manufacturerId-containers-name-versions-version-units-unitId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnitResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "put": {
        "summary": "Update the unit",
        "description": "Updates the unit of a manufacturer",
        "operationId": "update-manufacturer-unit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutUnit"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "delete": {
        "summary": "Remove the unit",
        "description": "Remove the unit",
        "operationId": "delete-manufacturers-manufacturerId-containers-name-versions-version-units-unitId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units/{unitId}/copyToVersion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/unitIdInPath"
        }
      ],
      "post": {
        "summary": "Copy a unit to another version",
        "description": "Copy a unit to another version.",
        "operationId": "CopyUnitToAnotherVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPostCopyToVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseObjectCopiedToVersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/configurators": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        }
      ],
      "get": {
        "summary": "Search configurators",
        "description": "Search configurators in version.",
        "operationId": "get-manufacturers-manufacturerId-configurators",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "Filter on the code of the configurators.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getConfigurators"
          }
        },
        "tags": [
          "Configurator"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/configurators/{configuratorId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "in": "path",
          "name": "configuratorId",
          "description": "ID of the configurator you want to access.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Delete a configurator",
        "description": "Delete a specific configurator from a version.",
        "operationId": "delete-manufacturers-manufacturerId-containers-name-versions-version-configurators-configuratorId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Configurator"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "summary": "Get custom objects types of a manufacturer",
        "description": "Retrieve all custom object types of a manufacturer.",
        "operationId": "get-manufacturers-manufacturerId-customObjects",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects/{customObjectType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "in": "path",
          "name": "customObjectType",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "summary": "Get custom objects from a type of a manufacturer",
        "description": "Retrieve all custom object types of a specific type from a manufacturer. Custom objects can be filtered with one or more query parameters where the query name is a key of an object.",
        "operationId": "get-manufacturers-manufacturerId-customObjects-customObjectType",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomObject"
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "CustomObject"
        ]
      },
      "post": {
        "summary": "Create a single custom object",
        "description": "Create a custom object of a type. If the type does not exist it will automatically be created.",
        "operationId": "post-manufacturers-manufacturerId-customObjects-customObjectType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertCustomObjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/defaultCreatedResponse"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects/{customObjectType}/bulkUpsert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "in": "path",
          "name": "customObjectType",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "summary": "Upsert custom objects in bulk",
        "description": "Create or update 50 custom objects in master data.",
        "operationId": "post-bulk-upsert-custom-objects",
        "requestBody": {
          "$ref": "#/components/requestBodies/postBulkUpsertCustomObjects"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultBulkUpsertResponse"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects/{customObjectType}/{customObjectKey}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/manufacturerId"
        },
        {
          "in": "path",
          "name": "customObjectType",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "customObjectKey",
          "in": "path",
          "description": "The Hive ID of a custom object",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Get a specific custom object from a manufacturer",
        "description": "Get a specific custom object from a custom object type from a manufacturer",
        "operationId": "get-manufacturers-manufacturerId-customObjects-customObjectKey",
        "responses": {
[...]
